ago==0.0.93
APScheduler==3.6.3
asgiref==3.2.5
astroid==2.3.3
attrs==19.3.0
Automat==20.2.0
autopep8==1.4.4
awscli==1.18.20
backcall==0.1.0
beautifulsoup4==4.9.0
boto==2.49.0
boto3==1.11.14
botocore==1.15.20
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
click==7.1.1
colorama==0.4.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.1
Django==3.0.7
django-apscheduler==0.3.0
django-cors-headers==3.2.1
django-filter==2.2.0
djangorestframework==3.11.0
docformatter==1.3.1
docopt==0.6.2
docutils==0.15.2
dotmap==1.3.13
elasticsearch==7.5.1
entrypoints==0.3
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
flake8==3.7.9
Flask==1.0.3
gensim==3.8.1
goose3==3.1.6
hjson==3.0.1
html5lib==1.0.1
hurry.filesize==0.9
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
jieba==0.42.1
jieba3k==0.35.1
Jinja2==2.11.1
jmespath==0.9.4
joblib==0.14.1
jupyter-client==5.3.4
jupyter-core==4.6.1
kiwisolver==1.1.0
langdetect==1.0.8
lazy-object-proxy==1.4.3
lxml==4.5.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
news-please==1.4.25
newspaper3k==0.2.8
nltk==3.5
numpy==1.18.1
olefile==0.46
overrides==2.8.0
packaging==20.4
pandas==0.25.3
parsel==1.5.2
parso==0.6.1
pickleshare==0.7.5
Pillow==7.1.1
plac==1.1.3
prompt-toolkit==3.0.3
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
pyflakes==2.1.1
Pygments==2.5.2
PyHamcrest==2.0.2
pylint==2.4.4
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2019.3
pywin32==227
PyYAML==5.3
pyzmq==18.1.1
queuelib==1.5.0
readability-lxml==0.7.1
regex==2020.4.4
requests==2.23.0
requests-file==1.4.3
rsa==3.4.2
s3transfer==0.3.3
sacremoses==0.0.38
scikit-learn==0.22.1
scipy==1.4.1
Scrapy==2.0.0
sentencepiece==0.1.85
service-identity==18.1.0
six==1.14.0
sklearn==0.0
smart-open==1.9.0
snap-stanford==5.0.0
soupsieve==2.0
sqlparse==0.3.1
tinysegmenter==0.3
tldextract==2.2.2
tokenizers==0.8.1rc1
torch==1.4.0
torchvision==0.5.0
tornado==6.0.3
tqdm==4.45.0
traitlets==4.3.3
transformers==3.0.2
Twisted==19.10.0
typed-ast==1.4.1
tzlocal==2.1
untokenize==0.1.1
urllib3==1.25.9
w3lib==1.21.0
warcio==1.7.2
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
whitenoise==5.0.1
wincertstore==0.2
wrapt==1.11.2
yapf==0.29.0
zope.interface==4.7.2
